<div class="container">
  <div class="container" id="topbar">
    <h1 class="text-center">Burger Application</h1>
  </div>

  <hr>

  <div class="container cont">
    <h2>Burgers that have not been tried:</h2>
    <ul class="list-group">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <hr>

  <div class="container cont">
    <h2>Burgers that have been tried:</h2>
    <ul class="list-group">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <hr>

  <div class="container cont">
    <h2>Add a Burger:</h2>
    <form class="create-form">
      <div class="form-group row create-form">
        <label for="ca" class="col-sm-2 col-form-label">Burger Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ca" placeholder="Ex: Cheeseburger" name="burger_name">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Has this burger been tried yet?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="devoured" value="1" checked>
              <label class="form-check-label" for="gridRadios1">
                Tried
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="devoured" value="0">
              <label class="form-check-label" for="gridRadios2">
                Not Tried
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
